<!-- Fichier phtml pour la partie predict du checkout -->

<tr>
    <td colspan="4">
        <div id="dpdpredict_dpdpredict">
            <div class="predict_header">
                <label class="predict_label_header"><?php echo __('Time slot home delivery') ?></label>
                <br>
            </div>
            <div class="predict_search">
                <div class="predict_logo">
                    <label class="predict_label_logo"></label>
                    <img src="<?php echo $this->getViewFileUrl('DPDFrance_ShippingM2::images/predict/dpd_predict_logo.png') ?>" alt="predict_logo"/>
                </div>
                <div class="copy">
                    <h2><?php echo __('With Predict, be independent with your deliveries !') ?></h2>
                    <h2><?php echo __('How it works:') ?></h2>
                    <ul>
                        <li><?php echo __('A first SMS will be sent to you when your parcel is taken in charge by DPD France. This SMS will also tell you the expected delivery date.') ?></li>
                        <li><?php echo __('On the day of delivery, you will receive an SMS and an email indicating the delivery time slot and your secure 4-digit code. This code will allow you to receive your order in complete security.') ?></li>
                        <li><?php echo __('Upon delivery, transmit your code to the DPD France delivery person. Your parcel will be delivered to you against signature.') ?></li>
                    </ul>
                    <p><?php echo __('The Predict service allows you to be autonomous on your delivery thanks to a wide choice of reprogramming options until the day before or in case of absence :') ?></p>
                    <ul>
                        <li><?php echo __('Delivery of your parcel at pudo’s') ?></li>
                        <li><?php echo __('Delivery to your workplace') ?></li>
                        <li><?php echo __('Delivery to another address') ?></li>
                        <li><?php echo __('Delivery to a neighbour') ?></li>
                        <li><?php echo __('Withdrawal in a DPD France depot') ?></li>
                        <li><?php echo __('Delivery to another date') ?></li>
                    </ul>
                    <p><?php echo __('Benefit from the advantages of Predict delivery !') ?></p>
                </div>
                <br/>
                <div id="div_dpdfrance_dpd_logo"></div>
            </div>
            <div id="dpdfrance_predict_error" class="warnmsg" style="display:none;">
                <?php echo __('It seems that the GSM number you provided is incorrect. Please provide a french GSM number, starting with 06 or 07, on 10 consecutive digits.') ?>
            </div>
            <div id="div_dpdfrance_predict_gsm">
                <p><?php echo __('To get all the advantages of DPD\'s Predict service, please provide a french mobile phone number here ') ?></p>
                <input id="gsm_dest" name="gsm_dest" type="text" class="predict-input-text"/>
            </div>
        </div>
    </td>
</tr>
