<!-- Fichier phtml pour la partie relais du checkout -->

<tr>
    <td colspan="4">
        <div id="dpdrelais_dpdrelais">
            <div class="relaypoint_header">
                <label class="relaypoint_label_header"><?php echo __('Delivery in a DPD Pickup shop') ?></label><br>
            </div>
            <div class="relaypoint_search">
                <div class="relaypoint_logo">
                    <label class="relaypoint_label_logo">
                        <img src="<?php echo $this->getViewFileUrl('DPDFrance_ShippingM2::images/relais/carrier_logo.jpg'); ?>" alt="relais_log"/>
                </div>

                <div class="relaypoint_input">
                    <label class="relaypoint_label_find" data-bind="i18n: 'Find DPD Pickup points near this address : '"></label><br/>
                    <input id="address" name="address" type="text" class="relaypoint-input-address" /><br />
                    <input id="zipcode" name="zipcode" type="text" class="relaypoint-input-zipcode" />
                    <input id="city" name="city" type="text" class="relaypoint-input-city" />

                    <button id="dpdfrbutton" class="dpdfrbutton" type="button" style="height: 20px;padding: 0;width: 36px;">
                        <span>OK</span>
                    </button>

                    <span id="loadingpointswait" style="display:none;">
                        <img src="<?php /* echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'dpdfrance/front/relais/loader.gif' */ ?>" alt="" class="v-middle" />
                    </span>
                </div>
                <div id="suggestion">

                </div>
            </div>
        </div>
    </td>
</tr>
