<!-- Template du tableau des expeditions, utilisera le block Shipments -->
<!-- Le block d'un template s'utilise directement avec la $variable $block ici -->

<!-- $block->getShipments(); -->

<?php
	$rss = $this->getDpdfrRss();
?>

<div style='font-size:20px'>Flash Infos</div>
<?php echo $rss; ?>
<br/>